<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDisplayName</key>
	<string>Datapad</string>
	<key>CFBundleExecutable</key>
	<string>Datapad</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29.png</string>
				<string>AppIcon29x29@2x.png</string>
				<string>AppIcon40x40@2x.png</string>
				<string>AppIcon57x57.png</string>
				<string>AppIcon57x57@2x.png</string>
				<string>AppIcon60x60@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29.png</string>
				<string>AppIcon29x29@2x.png</string>
				<string>AppIcon40x40@2x.png</string>
				<string>AppIcon57x57.png</string>
				<string>AppIcon57x57@2x.png</string>
				<string>AppIcon60x60@2x.png</string>
				<string>AppIcon29x29~ipad.png</string>
				<string>AppIcon29x29@2x~ipad.png</string>
				<string>AppIcon40x40~ipad.png</string>
				<string>AppIcon40x40@2x~ipad.png</string>
				<string>AppIcon50x50~ipad.png</string>
				<string>AppIcon50x50@2x~ipad.png</string>
				<string>AppIcon72x72~ipad.png</string>
				<string>AppIcon72x72@2x~ipad.png</string>
				<string>AppIcon76x76~ipad.png</string>
				<string>AppIcon76x76@2x~ipad.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>space.fringer.datapad</string>
	<key>CFBundleName</key>
	<string>Datapad</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.15</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2016, Paul McCullagh</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UILaunchImageFile</key>
	<string>IOSLaunchImage</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
